.firstbox {
 border: blue 2px solid;
}
#internal_ul{
 background: orange;
}
h2 {
 background: rgb(219, 87, 131);
}
p[name="firstptag"]
{
 background: orchid;
}
body {
 background-color: antiquewhite;
}
img {
 border-radius: 50%;
}